asgiref
autopep8
django==2.2.10
keras==2.2.5
tensorflow==2.5.0
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
json
time
cv2
numpy
PIL
io
opencv-python
urllib
base64
matplotlib
pyodbc
pandas
datetime
shutil
os
imutils
dlib
CMake
random
skimage
scipy
h5py
copy
scikit-image