{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>

    .loader {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    
    #loader {

      position: absolute;

      left: 50%;

      top: 50%;

      z-index: 1;

      width: 150px;

      height: 150px;

      margin: -75px 0 0 -75px;

      border: 16px solid #f3f3f3;

      border-radius: 50%;

      border-top: 16px solid #3498db;

      width: 120px;

      height: 120px;

      -webkit-animation: spin 2s linear infinite;

      animation: spin 2s linear infinite;

  }



  @-webkit-keyframes spin {

      0% { -webkit-transform: rotate(0deg); }

      100% { -webkit-transform: rotate(360deg); }

  }



  @keyframes spin {

      0% { transform: rotate(0deg); }

      100% { transform: rotate(360deg); }

  }



  /* Add animation to "page content" */

  .animate-bottom {

      position: relative;

      -webkit-animation-name: animatebottom;

      -webkit-animation-duration: 1s;

      animation-name: animatebottom;

      animation-duration: 1s

  }



  @-webkit-keyframes animatebottom {

      from { bottom:-100px; opacity:0 } 

      to { bottom:0px; opacity:1 }

  }



  @keyframes animatebottom { 

      from{ bottom:-100px; opacity:0 } 

      to{ bottom:0; opacity:1 }

  }

  @keyframes auto-progress {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }
.progress-bar {
    background: transparent;
    height: 4px;
    width: 100%;
    margin: 5px auto;
    border-radius: 5px;

    box-shadow: 0 1px 5px #dbe9f6 inset, 0 0 1px #29d;
  }

  .stripes {
    background-size: 30px 30px;
  }

  .stripes.animated {
    animation: animate-stripes 0.2s linear infinite;
  }

  .stripes.animated.slower {
    animation-duration: 0.2s;
  }

  .stripes.reverse {
    animation-direction: reverse;
  }

  .progress-bar-inner {
    display: block;
    height: 45px;
    width: 0%;
    background-color: #3ebfea;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    position: relative;
    animation: auto-progress 1.5s infinite linear;
  }

</style>
{% endblock stylesheets %}

{% block content %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Sample Page</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- [ Main Content ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>How to use</h5>
                            </div>
                            <div class="card-block">
                                <p>You can upload a video and search one or more person in this video ,in fact you can also search a person even if this person do not figure in your database 
                                </p>
                            </div>
                        </div>
                    </div>


                    {% if dict_name %}
                    <div class="col-xl-12" id="result">
                        <div class="card">
                            <div class="card-header">
                                <h5>search results</h5>
                                <p>( There are <span style="color:#3ebfe9;text-align: center;">{{ len }} identified person </span> in this video. )</p>
                                
                            </div>
                            <div class="card-body">
                                <div class="row" >
                                    {% for key,value in dict_name.items %}
                                    <div class="col-xl-4">
                                        <div class="card">
                                            <div class="card-header">
                                                {% for j in value %}
                                                {% if Person == j %}
                                                <p style="color:#3ebfe9;">- {{j}} <span style="color:#808080;">{% if dict_time %}( Time : <code>{{ dict_time|get_value:key }}</code> )</span> {% endif %}</p>
                                                {% else %}
                                                <p>- {{j}} {% if dict_time %} ( Time : <code>{{ dict_time|get_value:key }}</code> ) {% endif %}</p>
                                                {% endif %}
                                                {% endfor %}

                                            </div>
                                            <div class="card-block">
                                                <div id="morris-area-curved-chart" style="height:400px">
                                                    <img  src="{{key}}" style="height:400px;width:320px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div> 
                    </div> 
                    {% elif msg %}
                    <div class="col-xl-12" id="NoPerson">
                        <div class="card">
                            <div class="card-header">
                                <h5>Search Result</h5>
                            </div>
                            <div class="card-block">
                                <p> <span>Oops!, </span><span style="color:#3ebfe9;">{{Person}}</span>{{ msg }}</p>
                            </div>
                        </div>

                    </div>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>
        <!  -- [ Main Content ] end -->
        <!-- [ breadcrumb ] end -->


        <div class="row" id="main-body">
            <div class="col-sm-12">
                <div class="card">    
                    <div class="card-header">
                        <h5>Start search</h5>
                    </div>
                    <div class="card-body">
                        <h5 id="hide2">Choose video or image</h5>
                        <hr>
                        <div class="row">

                            <div class="col-md-12">
                                <form action = {% url 'media' %} method = "POST" autocomplete="off">
                                    {% csrf_token %}
                                    <div id="hide1">
                                        <div class="form-group input-group col-md-12">
                                            <input type="file" accept="image/*,video/*" id="other" class="custom-file-input btn btn-secondary col-md-12" name="pathname" style="width:100%;margin-left:1%;" >
                                            <label class="custom-file-label" for="customFile" id='here'></label>
                                        </div>

                                        <div class="justify-content-center" id="person1">
                                            <div class="form-group">
                                                <select class="form-control"  id="exampleFormControlSelect1" style="width:100%;margin-left:0%;cursor: pointer;">
                                                    <option id="op" selected="selected" value='1'>Select person from Database</option>
                                                    <option id="op1" value='2'>Use a temporary database for the new person</option>
                                                </select>
                                                
                                            </div>
                                        </div>

                                        <div class="justify-content-center" id="person">

                                            <div class="form-group ">
                                                <input type="text" id="icon-search" class="form-control mb-4" placeholder="Choose person.. " name="PersonName" style="width:100%">
                                            </div>

                                        </div>
                                        <div class="row justify-content-center" >


                                            <div class="form-group " id="warning" style="display:none">
                                              <small class="form-text" style="color:#9b91d4;font-size: 13px">This person will be added temporarily to your database, and will be deleted after the end of this operation.</small>
                                          </div>
                                          <div class="form-group col-md-8" style="cursor: pointer;" id="new_person1">
                                            <input type="file" id="imagetext" style="cursor: pointer;" accept="image/*" class="custom-file-input col-md-6" name="imagetext" >
                                            <label style="cursor: pointer;" class="custom-file-label" for="customFile" id='heree'></label>
                                            <small class="form-text" id="after-check">The image should only contain one person.</small>

                                        </div>

                                        <div class="form-group col-md-2" id="new_person">
                                            <input type="text" id="bb" class="form-control" name="nametext" placeholder="Enter the person name" disabled>
                                            <small class="form-text justify-content-center"  ></small>
                                        </div>
                                        <div class="breadcrumb-item col-md-1 " id="verif" style="display:none;">
                                            <i class="feather icon-check-circle" style="color:#1de9b6;font-size:40px;" ></i>
                                        </div>
                                        <div class="col-md-1" id="notverif" style="display:none;">
                                            <i class="feather icon-x-circle" style="color:red;font-size:40px;" ></i>

                                        </div>
                                        <div class="loader" id="loaderr" style="display:none;"></div>

                                        <div class="row justify-content-center" >


                                            <div class="form-group " id="db" style="display: none">
                                              <small class="form-text" style="font-size:13px">If you want to permanently add this person to the database, please click <a href="ui-tables.html">here</a></small>

                                          </div>
                                      </div>

                                  </div>
                                  <div class="card-block table-border-style" id="sh" style="display:none;">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody id="icon-wrapper" class='ahmed'>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="hide">
                                <div class="card">
                                    <div class="card-header">
                                        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="settings_btn">Settings..</button>
                                    </div>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4 class="mt-5">Results</h4>
                                                    <hr>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio"  style="cursor: pointer" value="one" id="customRadioInline2" name="numImage" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="customRadioInline2 " style="cursor: pointer">    Display only the first image</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" value="all" id="customRadioInline1" name="numImage" class="custom-control-input" >
                                                        <label class="custom-control-label" for="customRadioInline1" >    Display all images founded</label>
                                                    </div>

                                                    <h4 class="mt-5">Time in video</h4>
                                                    <hr>
                                                    <div class="custom-control custom-checkbox">
                                                        <input name="time" type="checkbox" class="custom-control-input" id="customCheck1">&nbsp;&nbsp;
                                                        <label class="custom-control-label" for="customCheck1">    Check this custom checkbox</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4 class="mt-5">Precision</h4>
                                                    <hr>
                                                    <label for="customRange3">Choose precision (<span style="color:green;">50% </span> is the most optimized value ,it's a matter of Precision/Time ratio)</label>
                                                    <input type="range" class="custom-range" min="10" max="100" step="10" id="myRange" value="50" name=range >

                                                    <label id="slide" for="customRange3" style="color:green;">Value : <span id="demo"></span> %  <span style="color:#cc0000;" id="alert"></span></label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <button type="submit" id="click"  class="btn btn-primary float-right" style="width:100%;margin-left:1%;" disabled>Search</button>
                                </div>
                            </div>
                            <hr>
                            <button id='loading' type="button" class="btn btn-square btn-info" style="width:100%;margin-left:1%;display:none;margin-top:30px;">it will take a while, please wait <span class="someclass blink">( Loading... )</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div>
            <div class="progress-bar-container" id="loader_add_new" style="width: 100%;display: none;">
              <div class="progress-bar stripes">
                <span class="progress-bar-inner"></span>
              </div>
            </div>
          </div>
        </div>
    </div>



    <!-- [ breadcrumb ] end -->
</div>
</div>
</div>

<div id="success_div"></div>
<div id="loader"></div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script type="text/javascript">
    const list_ext = ["jpeg","jpg","png","gif","tif","psd","pdf","eps","ai","indd","svg"]
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
        if(this.value <= 50){
            $("#slide").css('color','green');
            if(this.value==20){
                document.getElementById("alert").innerHTML = "( It will be fast with less precision )" ;
                $("#alert").css('color','green');
            }else if(this.value == 10){
                document.getElementById("alert").innerHTML = "( It will be faster but with even less precision )" ;
                $("#alert").css('color','green');
            }else{
                document.getElementById("alert").innerHTML = "";
            }
            
        }
        else if(this.value <= 80){
            $("#slide").css('color','#ff6600');
            document.getElementById("alert").innerHTML = ""
        }
        else{
            $("#slide").css('color','#cc0000');
            if(this.value == 90){
                document.getElementById("alert").innerHTML = "( It may take a long time )";
                $("#alert").css('color','#cc0000');
            }else{
                document.getElementById("alert").innerHTML = "( It may take a very long time )";
                $("#alert").css('color','#cc0000');
            }
            
        }
    }

    document.getElementById("loader").style.display = "none";
    document.getElementById("person").style.display = "none";
    document.getElementById("person1").style.display = "none";
    document.getElementById("new_person").style.display = "none";
    document.getElementById("new_person1").style.display = "none";
    document.getElementById("here").innerHTML = "Choose video or image file..";
    $("#exampleFormControlSelect1").css('color','#04a9f5');

    
    $( "#click" ).click(function() {
        document.getElementById("loader_add_new").style.display = "block";
        document.getElementById("hide").style.display = "none";
        document.getElementById("hide1").style.display = "none";
        document.getElementById("hide2").style.display = "none";
        document.getElementById("loader").style.display = "none";
        document.getElementById("loading").style.display = "block";
        document.getElementById("loader").style.display = "block";
        document.getElementById("NoPerson").style.display = "none";
        
    });
    $( "#other" ).change(function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        if (["jpeg","jpg","png","gif","tif","psd","pdf","eps","ai","indd","svg"].includes(label.split('.')[1])) {
            
            $("#exampleFormControlSelect1").val(1).change();
            document.getElementById("exampleFormControlSelect1").disabled = true;
        }else{
            document.getElementById("exampleFormControlSelect1").disabled = false;
        }
        document.getElementById("here").innerHTML = label;
        if (list_ext.includes(label.split('.')[1])) {
            document.getElementById("customRadioInline2").disabled = "block";
            document.getElementById("customRadioInline1").disabled = "block";
            document.getElementById("customCheck1").disabled = "block";
        }
        else{
            document.getElementById("customRadioInline2").disabled = false;
            document.getElementById("customRadioInline1").disabled = false;
            document.getElementById("customCheck1").disabled = false;
        }
        if(label != ""){
            document.getElementById("click").style.display = "block";
            document.getElementById("exampleFormControlSelect1").style.display = "block";
            document.getElementById("icon-search").style.display = "block";
        }
        else{
            document.getElementById("exampleFormControlSelect1").style.display = "none";
            document.getElementById("icon-search").style.display = "none";
            document.getElementById("click").style.display = "none";
        }
        document.getElementById("person").style.display = "block";
        document.getElementById("person1").style.display = "block";
        document.getElementById("result").style.display = "none";
        
    });

    if(document.getElementById("other").value  != ""){
        document.getElementById("click").style.display = "block";
    }
    else{
        document.getElementById("click").style.display = "none";
    }


    $( "#imagetext" ).change(function() {
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        document.getElementById("heree").innerHTML = label;
        document.getElementById("bb").value = label.split('.')[0];;
    });

    var person_list = "{{ liste_person }}".split(',');
    for (var i = 0, l = person_list.length; i < l; i++) {
        $('#icon-wrapper').append(
           '<tr style="cursor:pointer" class="col-md-12 i-block" data-clipboard-text="feather ' + person_list[i] + '" data-filter="' + person_list[i] + '"  data-toggle="tooltip" title="' + person_list[i] + '"><th scope="row ' + person_list[i] + '">' + person_list[i] + '</th><td>Mark</td><td>Otto</td><td>@md</td></tr>'+
           '</div>');
    }


    $(window).on('load', function() {
        $("#icon-search").on("keyup", function() {
            document.getElementById("sh").style.display = "block";
            var g = $(this).val().toLowerCase();
            $(".ahmed .i-block").each(function() {
                var t = $(this).attr('data-filter');
                if (t) {
                    var s = t.toLowerCase();
                }
                if (s) {
                    var n = s.indexOf(g);
                    if (n !== -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                }
                $(this).click(function() {
                    document.getElementById("icon-search").value = t;
                    document.getElementById("sh").style.display = "none";
                });
                if (document.getElementById("icon-search").value == ""){
                    document.getElementById("sh").style.display = "none";
                }
            });
        });
    });


    $('.blink').each(function() {
        var elem = $(this);
        setInterval(function() {
            if (elem.css('visibility') == 'hidden') {
                elem.css('visibility', 'visible');
            } else {
                elem.css('visibility', 'hidden');
            }    
        }, 500);
    })

    $(".blink").animate({opacity:0},200,"linear",function(){
        $(this).animate({opacity:1},200);
    });
    
    if( $("#exampleFormControlSelect1").find(":selected").val() == document.getElementById("op").value){
        document.getElementById("click").disabled = false;
    }

    $("#op1").css('color','black');

    $('#exampleFormControlSelect1').change(function(){

        if( $("#exampleFormControlSelect1").find(":selected").val() == document.getElementById("op").value){
            $("#op1").css('color','black');
            $("#op").css('color','#04a9f5');
            document.getElementById("click").disabled = false;
            document.getElementById("warning").style.display = "none";
            document.getElementById("verif").style.display = "none";
            document.getElementById("notverif").style.display = "none";
            document.getElementById("db").style.display = "none";
            
        }
        else{
            $("#op").css('color','black');
            $("#op1").css('color','#04a9f5');
            document.getElementById("click").disabled = "block";
            document.getElementById("warning").style.display = "block";
            document.getElementById("db").style.display = "block";
        }
        if($(this).val() == '1'){
            document.getElementById("person").style.display = "block";
            document.getElementById("new_person").style.display = "none";
            document.getElementById("new_person1").style.display = "none";
        }
        else{
            document.getElementById("person").style.display = "none";
            document.getElementById("new_person").style.display = "block";
            document.getElementById("new_person1").style.display = "block";
        }
    });

    $('#imagetext').change(function() { 
        var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        document.getElementById("heree").innerHTML = label;
        document.getElementById("bb").value = label.split('.')[0];
        document.getElementById("verif").style.display = "none";
        document.getElementById("notverif").style.display = "none";
        document.getElementById("loaderr").style.display = "block";
        var elem = document.getElementById("after-check");
        $.ajax({

            url: '{% url 'check_image' %}',
            data: {
              'inputValue': label
          },
          dataType: 'json',
          success: function (data) {
            document.getElementById("loaderr").style.display = "none";
            if (data["response"]=='Verified'){
                document.getElementById("click").disabled = false;
                document.getElementById("verif").style.display = "block";
                document.getElementById("notverif").style.display = "none";
                elem.innerHTML = "Well verified";
                elem.style.color = "#1de9b6";
            }  
            else{
                document.getElementById("heree").innerHTML = "";
                document.getElementById("bb").value = "";
                document.getElementById("notverif").style.display = "block";
                document.getElementById("verif").style.display = "none";

                elem.innerHTML = "Please check again,this image contains "+data["response"]+" person";
                elem.style.color = "Red";

            }
        }
    });
    });

</script>
{% endblock javascripts %}
